html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.npm-lib-name-outer {
  padding: 40px;
}

.npm-lib-name-outer > h1 {
  font-family: monospace;
  margin-top: 0;
}

#root {
  border: 1px dashed #ccc;
  max-width: 800px;
  margin: 0 auto;
  min-height: 400px;
}
